-#  This file is app/views/movies/index.html.haml
%h2 All Movies

= form_tag movies_path, :method => :get, id:"ratings_form" do
  Include:
  - @all_ratings.each do |rating|
    = rating
    - if session[:selected_ratings].blank? or session[:selected_ratings].include? rating
      = check_box_tag "ratings[#{rating}]", 1, true
    - else
      = check_box_tag "ratings[#{rating}]", 1, false
  = submit_tag 'Refresh'

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      // applying the class variable and function routing to the title header
      %th#title_header{:class => @movie_header}= link_to "Movie Title", movies_path(:sort_method => 'title')
      %th Rating
      //  applying the class variable and function routing to the release date header
      %th#release_date_header{:class => @date_header}= link_to "Release Date", movies_path(:sort_method => 'release_date')
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
